body{
  background-color: #C5F2E7;
  position: relative;
  width: 75%;
  margin: auto;
  margin-top: 25px;
}

#navbar{
  display: none;
}

.navtabs a{
  background-color: white;
}

#logout{
  position: absolute;
  top: 0;
  right: 20px;
}

#login{
  width: 350px;
  margin: auto;
  margin-top: 10%;
  padding: 15px;
  text-align: center;
  box-shadow: 2px 2px 25px #4C4C4C;
  h2{
    margin-top: 0px;
  }
  input:focus{
    outline: none;
  }
}

main{
  position: relative;
  display: none;
  background-color: white;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 30px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

a:hover {
  text-decoration: none;
}

#user-image{
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  width: 150px;
  border: 1px solid #ddd;
}

#profile-list{
  list-style: none;
  font-size: 1.5em;
  padding: 10px;
  li{
    padding: 10px;
  }
}

#repo-table, #repo-issues-table{
  width: 75%;
  margin: auto;
  clear: both;
  thead tr{
    font-size: 1.75em;
  }
  tbody tr{
    font-size: 1.25em;
  }
}

.repo-table-stars, .repo-table-issues, .repo-issues-table-names, .repo-issues-table-close{
  text-align: center;
}

.repo-detail{
  h2{
    margin: 0;
  }
  ul{
    list-style: none;
    margin-top: 15px;
    padding: 10px;
    font-size: 1.5em
  }
}

#new-issue-button{
  display: block;
  width: 150px;
  height: 35px;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 25px;
}

#repo-issues h2{
  position: relative;
  top: -18px;
  left: 20px;
  float: left;
}

#new-issue-title, #new-issue-body{
  clear: both;
  width: 100%;
  margin: auto;
}

#new-issue-title{
  max-width: 400px;
}

#reponewissue{
  textarea:focus{
    outline: none;
  }
  button{
    margin: 7px;
  }
}
